<div class="container">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" 
            {% if user.is_authenticated %}
            href="{% url 'post-list' %}"
            {% else %}
            href="{% url 'index' %}"
            {% endif %}
            >Tweety</a>
    
            <form class="d-flex">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>
    
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</div>
